<template name="acte">

    {{#contentFor "headerTitle"}}
    <img class="headerimg" src="/img/ucv.png"> 
    <h1 class="title">Acte necesare la inscriere</h1>
    {{/contentFor}}

    {{#ionView}}
    {{#ionContent class="padding contact-detail"}}
    <div class="list card ">         
        <div class="item titlu">
            <h2>Acte necesare la înscriere</h2>

            <p>La concursul de admitere în ciclul I - studii universitare de licenţă pot candida  absolvenţii de liceu cu diplomă de bacalaureat sau diplomă echivalentă cu aceasta.<br /><br />
<b>Pentru înscrierea la concursul de admitere, candidaţii vor depune un dosar mapă care cuprinde următoarele documente:</b><br /><ul>
<li>{{> ionIcon icon="ios-checkmark" class="positive"}} fişa de înscriere – ciclul I - de studii universitare de licenţă. În raport de specificul fiecărei facultăţi, decanatele mai pot adăuga alte date pe care le consideră de utilitate.</li>
<li>{{> ionIcon icon="ios-checkmark" class="positive"}} diploma de bacalaureat sau diploma echivalentă cu aceasta în original şi foaia matricolă; absolvenţii de liceu din promoţia 2014/2015 pot prezenta, în locul diplomei de bacalaureat, o adeverinţă tip din care să rezulte că au absolvit liceul şi au promovat examenul de bacalaureat, menţionându-se media generală de la bacalaureat şi mediile obţinute în anii de liceu, termenul de valabilitate şi faptul că nu a fost eliberată diploma;</li>
<li>{{> ionIcon icon="ios-checkmark" class="positive"}} foaia matricola;</li>
<li>{{> ionIcon icon="ios-checkmark" class="positive"}} certificatul de naştere, în original si copie; legalizarea se poate efectua şi de către comisiile de admitere ale facultăţilor;</li>
<li>{{> ionIcon icon="ios-checkmark" class="positive"}} adeverinţă medicală tip M.S., eliberată de cabinetele medicale şcolare, dispensarele teritoriale, dispensarele de întreprindere sau medicul de familie;</li>
<li>{{> ionIcon icon="ios-checkmark" class="positive"}} candidaţii înscrişi la domeniul Educaţie fizică şi sport vor prezenta, la înscriere, în mod obligatoriu, o adeverinţă medicală vizată de Policlinica pentru Sportivi Craiova;</li>
<li>{{> ionIcon icon="ios-checkmark" class="positive"}} două-trei fotografii (opţional, pentru fiecare facultate);</li>
<li>{{> ionIcon icon="ios-checkmark" class="positive"}} acte doveditoare pentru candidaţii care solicită scutirea de plată a taxei de înscriere la concursul de admitere(copii legalizate după certificatele de deces ale părinţilor, în cazul celor orfani de ambii părinţi; adeverinţe de la Casa de copii, în cazul celor aflaţi în această situaţie; adeverinţă pentru copiii salariaţilor Universităţii din Craiova sau din alte instituţii de învăţământ, conform legii;</li>
<li>{{> ionIcon icon="ios-checkmark" class="positive"}}copie carte de identitate.</li></ul>
<br />La înscriere, candidatul va avea asupra sa cartea de identitate.

            </p><br />
        <p><h3>Care sunt condiţiile de admitere la facultăţi?</h3>
<b>Media de la bacalaureat, cu excepţia specializărilor: </b>
<ul><li><i>Drept</i>: examen tip grilă la Limba română;</li>
<li><i>Muzică</i>: probă interpretativă; dictat muzical – scris;</li>
<li><i>Teatru şi artele spectacolului</i>: testarea apti­tu­dinilor vocale şi de inter­pretare</li>
<li><i>Kinetoterapie</i>: examen tip grilă la Biologie şi aptitudini sportive;</li>
<li><i>Educaţie fizică şi sport</i>: aptitudini  sportive;</li>
<li><i>Teologie Ortodoxă pastorală</i>: testarea apti­tu­­dinilor vocaţio­nale.</li></ul>

        </p>

    </div>


    </div>
{{/ionContent}}
{{/ionView}}

</template>
