<template name="calendar">

    {{#contentFor "headerTitle"}}
    <img class="headerimg" src="/img/ucv.png"> 
    <h1 class="title">Calendar admitere</h1>
  {{/contentFor}}

    {{#ionView}}
    {{#ionContent class="padding contact-detail"}}
        <div class="list card ">         
            <div class="item titlu">
                <h2>Calendar admitere</h2>
                <p>De adaugat pe universitate sau si pe fiecare specializare in parte.
                Pentru ciclul de studii universitare de licenţă, învăţământ cu frecvenţă şi învăţământ la distanţă, concursul de admitere se va desfăşura după următorul program:
<br /><br />
 <h3>I. Sesiunea Iulie 2015</h3>

<ul>
    <li>13 – 24 iulie 2015, depunerea dosarelor de înscriere la concursul de admitere;</li>
<li>25 iulie 2015, susţinerea probei de competenţă lingvistică pentru candidaţii la programele cu predare în limba engleză;</li>
<li>26 iulie 2015, afişarea rezultatelor parţiale;</li>
<li>27 – 29 iulie 2015, confirmarea locurilor prin depunerea actelor de studii în original (diploma de bacalaureat şi foaia matricolă) sau a unei adeverinţe din care să rezulte că actele originale se află la o altă instituţie la care a fost admis;</li>
<li>29 iulie 2015, redistribuirea locurilor neconfirmate și afişarea rezultatelor finale;</li>
<li>30 - 31 iulie 2015, plata taxei de înmatriculare și încheierea contractelor de școlarizare de către candidații declarați admiși, respectiv retragerea dosarelor de catre candidatii respinși;</li>
<li>16 – 22 septembrie 2015 – plata primei rate din taxa de școlarizare de către canditații admiși pe locurile cu taxă;</li>
                </ul>
                <br />
<h3>II. Sesiunea Septembrie 2015 (doar pentru locurile neocupate în sesiunea Iulie 2015)</h3>
<ul>
<li>7 - 11 septembrie 2015 – depunerea dosarelor de înscriere la concursul de admitere;</li>
<li>12 septembrie 2015, susţinerea probei de competenţă lingvistică;</li>
<li>12 septembrie 2015 – afişarea rezultatelor parțiale;</li>
<li>14 – 15 septembrie 2015 – confirmarea locurilor / retragerea dosarelor;</li>
<li>15 septembrie 2015 – redistribuirea locurilor neconfirmate și afișarea rezultatelor finale;</li>
<li>16 - 22 septembrie 2015 – plata taxei de înmatriculare, încheierea contractelor de şcolarizare și plata primei rate din taxa de școlarizare pentru candidații admiși în sesiunea septembrie 2015;</li>
                </ul>
</p>
            </div>
            
           
        </div>
    {{/ionContent}}
  {{/ionView}}

</template>
