<template name="despre">

    {{#contentFor "headerTitle"}}
    <img class="headerimg" src="/img/ucv.png"> 
    <h1 class="title">Despre Universitatea din Craiova</h1>
  {{/contentFor}}

    {{#ionView}}
    {{#ionContent class="padding contact-detail"}}
        <div class="list card ">         
            <div class="item titlu">
                <h2>Despre UCV</h2>
                
                <p>
                Universitatea din Craiova este o prestigioasa institutie a invatamantului superior romanesc, parte a comunitatii academice europene, impartasind valorile culturale, morale, educationale si stiintifice ale acesteia.
<br /><br />
De la infiintarea sa, din anul 1947, Universitatea din Craiova si-a asumat misiunea de a contribui la dezvoltarea cunoasterii, a stiintei si culturii nationale, la integrarea acestora in patrimoniul universal. Acceptarea competitiei si participarea la schimbul de valori au permis selectarea si consolidarea unui valoros corp profesoral, formator competent si generos al elitelor stiintifice si culturale, constituit in prezent din peste 1000 de cadre didactice.
<br /><br />
Pe parcursul existentei sale, Universitatea din Craiova a evoluat catre o structura complexa, ce include astazi 16 facultati si 14 scoli doctorale. Oferta educationala cuprinde 47 domenii de licenta, cu 85 de specializari, precum si 42 programe de master, cu 84 de specializari.
<br /><br />
Celor peste 31 000 de studenti ai sai, Universitatea din Craiova le ofera excelente conditii de pregatire in toate ciclurile de studii universitare (Licenta, Master, Doctorat) si formele de invatamant (cu frecventa, cu frecventa redusa, la distanta).
<br /><br />
Universitatea din Craiova a incurajat constant cercetarea stiintifica si a favorizat intrunirile academice. Universitatea si universalitatea au mers impreuna, existand convingerea ca nicio stiinta, demna de acest nume, nu poate prospera daca nu depaseste folosinta locala, pentru a servi lumii intregi.
<br /><br />
Cu convingerea ca Spatiul European al Invatamantului Superior si Aria Europeana a Cercetarii Stiintifice sunt pilonii principali ai societatii bazate pe cunoastere, Universitatea din Craiova participa activ la Procesul Bologna, concretizandu-si vocatia europeana prin convergenta curriculara, tematica cercetarii stiintifice si deschiderea catre colaborari academice.
                </p>
                <br />
                <p class="center"><img src="/img/despre.jpg" class="prezentare"></p>
                
            </div>
            
           
        </div>
    {{/ionContent}}
  {{/ionView}}

</template>
